body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 545px;
    width: 545px;
    margin-top: 60px;
    border: 1px solid black;
}

.grid{
    border: 1px solid black;
}